.App {
  text-align: center;
}

body{
  background-color: black !important;
  background-image: linear-gradient(to bottom right, rgb(44, 77, 121), rgb(0, 0, 0)) ;;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#NavBar{
  background-color: transparent;
  color: white;
}

#Nav-Link{
  border: solid red 10px;
}

#card-img-container{
  color: white;
  background-color: transparent;
  border: none;
  text-align: center;
}

#generated-card:hover{
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
  transform: scale(1.05);
}